@import "../../style/app.scss";

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 100px;
    z-index: 3;
    color: #0c0c1d;

    @include mobile {
      font-size: 72px;
      text-align: center;
    }
  }

  .field {
    background-image: url("../../../public/field.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    @supports (background-image: url('../../../public/field.webp')) {
      background-image: url('../../../public/field.webp');
    }

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .sopron {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .sky {
    background-image: url("../../../public/sky.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    @supports (background-image: url('../../../public/sky.webp')) {
      background-image: url('../../../public/sky.webp');
    }
  }
}